html, body {
  font-family: "Merriweather";
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
}

/**
 * #HEADER STYLES
*/

.header__title, .header__location {
  margin-bottom: 0;
}

.header__location {
  line-height: 64px;
}

.highlight {
  background-color: yellow;
}

/**
 * #CONTENT STYLES
*/
.content {
  padding-top: 24px;
}

.work-list {
  list-style: none;
}

.section__heading {
  margin-bottom: 8px;
}

.work-item__heading > * {
  display: inline;
}