html, body {
  font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.light-text {
  color: #ccc;
}
/**
 * #HEADER STYLES
*/

.header__title, .header__location {
  margin-bottom: 0;
}

.header__location {
  line-height: 28px;
  padding-top: 14px;
}

.highlight {
  background-color: yellow;
}

/**
 * #CONTENT STYLES
*/
.content {
  padding-top: 24px;
}

.work-list {
  list-style: none;
}

.section__heading {
  margin-bottom: 8px;
}

.inline-heading > * {
  display: inline;
}

.inline-list {
  list-style: none;
}

.inline-list li {
  display: inline;
}

.inline-list li::after {
  content: ","
}

.inline-list li:last-child::after {
  content: ""
}

.footer {
  padding-top: 32px;
  padding-bottom: 14px;
}

