.header-wrapper {
  width: 100%;
  background-color: $PRIMARY_COLOR;
  position: relative;
}
  .header-wrapper__inner {
    @include outer-container($MAX_CONTAINER_WIDTH);
    padding-top: modular-scale(1);
    padding-bottom: modular-scale(1);
  }

.main-header {
  float:left;
}
