
html, body {
  font-size: modular-scale(0);
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: serif;
}

h1 {
  font-size: modular-scale(4);
  line-height: 83px;
  letter-spacing: modular-scale(-3)*-1;
}

h2 {
  font-size: modular-scale(3);
}

h3 {
  font-size: modular-scale(2);
}

h4 {
  font-size: modular-scale(1);
}
