@import "../vendor/bourbon/bourbon";
@import "../vendor/neat/neat";
@import "../config/variables";
@import "../config/colors";
@import "../config/breakpoints";


.post-content {
  padding-top: modular-scale(2);
}

.post-title {
  padding-top: modular-scale(2);
  padding-left: modular-scale(1);

}

.post p,
.disqus-thread {
    @include outer-container($MAX_CONTAINER_WIDTH);
}

.post p {
  font-size: modular-scale(1) - 4;
  margin-bottom: modular-scale(0);
  padding-left: modular-scale(3);
  padding-right: modular-scale(3);
}
