@import 'vars';
@import 'type';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.app {
  min-height: 100vh;
}

.app-container {
  > .app-header {
    position: fixed;
  }

  > .page {
    padding-top: $header-height;
  }
}

.app-header {
  height: $header-height;
}

.page {
  min-height: 100vh;
}
