<div class="main-footer footer">
  <div class="main-footer__inner">
    Footer
  </div>
  <div class="main-footer__acknowledgement">
    McGyvery-ed using <a href="metalsmith.io">Metalsmith</a>
  </div>
</div>
