<div class="main-footer footer">
  <div class="main-footer__inner">
    <div class="main-footer__acknowledgement">
      McGyver-ed using <a href="metalsmith.io">Metalsmith</a>
    </div>
  </div>
</div>
