<nav class="main-navigation">
  <ul class="main-navigation__inner">
    <li class="navigation-item"><a href="/" class="navigation-link">Home</a></li>
    <li class="navigation-item"><a href="/about" class="navigation-link">About</a></li>
    <li class="navigation-item"><a href="#" class="navigation-link">Blog</a></li>
    <li class="navigation-item"><a href="/portfolio" class="navigation-link">Portfolio</a></li>
  </ul>
</nav>
