<nav class="main-navigation">
  <ul class="main-navigation__inner">
    <li class="main-navigation__item"><a href="/" class="main-navigation__link">Home</a></li>
    <li class="main-navigation__item"><a href="/about" class="main-navigation__link">About</a></li>
    <li class="main-navigation__item"><a href="/posts" class="main-navigation__link">Blog</a></li>
    <li class="main-navigation__item"><a href="/portfolio" class="main-navigation__link">Portfolio</a></li>
  </ul>
</nav>
